{% extends "base.html" %}
{% load static %}

{% block title %}
Available Polls
<link rel="stylesheet" href="{% static 'polls/style.css'%}">
{% endblock %}

{% if user.is_authenticated %}
    Welcome back, {{ user.username }}
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
{% else %}
    Please <a href="{% url 'login' %}?next={{request.path}}">Login</a>
{% endif %}

{% block content %}
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        {% if question.is_published %}
            {% if question.can_vote %}
                <li><a href="{% url 'polls:detail' question.id%}">{{ question.question_text }}</a></li>
                
            {% else %}
                <li>{{ question.question_text }} --Poll end!!!</li>
            {% endif %}
            <li>
                <a href="{% url 'polls:results' question.id %}" class="button">Result</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}