# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'django-insecure-_g3ivnw8k2b&52)5@bsnps34(_m0n^i$edyjj32&6q_hwxb#%x'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

# Time zone
TIME_ZONE = 'GMT'